name = "tabthedev/signally"
version = "0.1.7"
description = "A library which can generate class like RBXScriptSignal but custom event and more methods"
authors = ["tabthedev"]
repository = "https://github.com/tabthedev/Signally"
license = "MIT"
includes = [
  "pesde.toml",
  "README.md",
  "LICENSE",
  "src/**/*.luau",
]

[target]
environment = "roblox"
lib = "src/init.luau"
build_files = ["src"]

[indices]
default = "https://github.com/pesde-pkg/index"

[scripts]
build = "scripts/build.luau"

[dev_dependencies]
darklua = { name = "pesde/darklua", version = "^0.17.2", target = "lune" }
multitarget = { name = "ewdev/multitarget", version = "^0.4.2-rc.7", target = "lune" }

[engines]
pesde = "^0.7.0"
